@import '../../mixins';

@small-width: ~'(max-width: 39rem)';

.queries {
    .dark-content();
    .flex-row(@gap: 0.5rem);
    flex: 0;
    position: relative;

    padding: 0.5rem;

    @media @small-width {
        .flex-col(@gap: 0.5rem);
    }
}

.minimized {
    width: auto;
}

.queryOptions {
    flex: 1 1 55%;
    max-width: 100%;

    @media @small-width {
        flex: 0;
    }
}

.labelRow {
    .flex-row(@align: center);

    >label:first-child {
        flex: 0;
        min-width: 5rem;
    }

    > :nth-child(2) {
        flex: 1;
    }

    >* {
        flex: 0;
    }
}

.queryString {
    font-size: 80%;
}

.optionsBlock {
    .grid(@columns: repeat(5, 1fr));

    margin-top: 0.25rem;

    @media @small-width {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 4.4rem), 1fr));
    }
}

.inputPair {
    .grid(@gap: 0.5rem, @rows: subgrid);
    grid-row: span 2;

    max-width: 100%;

    &.pairAsRow {
        .flex-row(@align: center);

        >:first-child {
            text-align: right;
            vertical-align: middle;
        }
    }

    * {
        white-space: nowrap;
        margin-inline: 0;
    }

    label {
        color: @color-fg-label
    }

    input:not([type='checkbox']) {
        max-width: 4rem;
    }
}

.fetch {
    flex: 0;

    .flex-row(@gap: normal 0.5rem);
}

.fetchButton {
    flex: 0;

    @media @small-width {
        flex: 1;
    }
}