@import '../../mixins';

.worldInfo {
    .dark-content();
    flex: 1;
    min-height: 0;
    max-height: 100%;
    padding: 0.5rem;
}

.purchasesContainer {
    .light-content();
    .flex-col(@gap: 0.5rem 0);
    overflow: auto;

    padding: 0.5rem;
    max-height: 100%;

    border: 1px solid @color-fg-border;
}

.dataCenterName {
    font-size: x-large;
    font-weight: bolder;
}

.worldName,
.purchasesInfo {
    margin-left: 0.5rem;
}

.worldName {
    font-weight: bold;
}

.purchasesInfo {
    .grid(@gap: 0.2rem 1rem, @columns: repeat(3, min-content) max-content);

    width: fit-content;
    padding: 0.5rem;

    border: 1px solid @color-fg-border;

    >* {
        white-space: nowrap;
    }
}

.count,
.price,
.name,
.retainer {
    width: auto;
}