@import '../../colors.less';

.marketInfo {
    position: relative;
    flex: 1;

    padding: 0.5em;
    min-height: 0px;

    background-color: @color-bg-content;

    &.minimized {
        flex: 0;
    }

    label {
        color: @color-fg-label
    }
}

.tableContainer {
    overflow: auto;
    max-height: 100%;
    border: 1px solid black;
}

.informationTable {
    width: 100%;
    border-collapse: collapse;

    td {
        border: unset;
        border-bottom: 1px solid black;
    }

    tr:last-child>td {
        border-bottom: unset;
    }
}

.tableRow {
    background-color: @color-bg-table;

    td.velocity,
    td.costs {
        background-color: darken(@color-bg-table, 10%);
    }
}

.tableRowDark {
    background-color: darken(@color-bg-table, 10%);

    td.velocity,
    td.costs {
        background-color: darken(@color-bg-table, 20%);
    }
}

.heading {
    background-color: @color-bg-table-header;
    border-bottom: 1px solid black;
}

.rowItem {
    text-align: center;
}

.isChildRow {
    font-style: italic;
    font-size: smaller;
}

// specificity hack
.leftBorder.leftBorder {
    border-left: 1px solid black;
}

// specificity hack
.rightBorder.rightBorder {
    border-right: 1px solid black;
}

.childIcon {
    font-style: normal;
    font-size: medium;
    width: 1.0em;
    height: 1.0em;
    vertical-align: middle;
    cursor: pointer;
}

.name {
    white-space: nowrap;

    td& {
        text-align: left;
    }
}