@import '../colors.less';

.exchange {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid @color-fg-border;
    border-top: unset;
    max-height: 100%;

    .statusHeader {
        flex: 0;
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid @color-fg-border;
        padding: 0.5em;

        label {
            color: white;
        }

        .status {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding-left: 0.5em;

            >div {
                flex: 1;
            }
        }
    }

    .nothingLoaded {
        max-height: 100%;
        height: 100%;
        overflow: auto;
        margin: 0.5em;
        padding: 0.5em;
        border: 1px solid black;
        background-color: @color-bg-table;
    }

    .allScrips {
        max-height: 100%;
        margin: 0.5em;
        overflow: auto;
        background-color: @color-bg-table;

        >* {
            padding-left: 0.5em;
        }

        .scripHeading {
            display: flex;
            flex-direction: row;
            font-weight: bold;

            .scripType {
                width: 16.5em;
            }
        }

        .scripTable {
            margin: 0.5em;
            border: 1px solid @color-fg-border;

            .scripProfit {
                display: flex;
                flex-direction: row;
            }
        }
    }
}