@import '../colors.less';

.queries {
    flex: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 0.5em;

    padding: 0.5em;

    background-color: @color-bg-content;

    label {
        color: @color-fg-label
    }

    input,
    select,
    button {
        background-color: @color-bg-input
    }

    > :first-child {
        margin-left: 0;
    }

    > :last-child {
        margin-right: 0px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-content: stretch;
    }
}

.minimized {
    width: auto;
}

.queryOptions {
    flex: 1 1 55%;
    max-width: 100%;

    @media (max-width: 768px) {
        flex: 0;
    }

    >.labelRow {
        display: flex;
        max-width: 100%;

        select,
        input {
            width: 100%;
            max-width: 100%;
            min-width: 2em;
        }

        >label:first-child {
            flex: 0 5em;
            min-width: 5em;
        }

        > :nth-child(2) {
            flex: 1;
        }

        >* {
            flex: 0;
        }
    }

}

.queryString {
    font-size: 80%;
}

.optionsBlock {
    display: grid;
    gap: 0.5em;
    margin-top: 0.25em;
    justify-items: stretch;
    justify-content: stretch;
    grid-template-columns: repeat(5, 1fr);

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(min-content, 11em));
    }

    >div {
        display: flex;
        flex-direction: row;
        max-width: 100%;

        >* {
            flex: 0 1 auto;
            white-space: nowrap;
            width: 100%;
            max-width: 100%;
            margin-right: 0px;
            margin-left: 0px;
        }

        >:first-child {
            align-items: center;
            text-align: right;
            margin-right: 0.5em;
        }

        label {
            color: @color-fg-label
        }

        input:not([type=checkbox]) {
            min-width: 2em;
        }

        select {
            width: fit-content;
        }

        input[type=checkbox] {
            width: auto;
            margin: 3px 0 3px 0;
        }
    }
}

.fetch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.5em;
    flex: 0;

    @media (max-width: 768px) {
        align-content: center;
    }
}

.fetchButton {
    flex: 0;

    @media (max-width: 768px) {
        flex: 1;
    }
}