@import '../mixins';

.configHeader {
    .flex-row(@gap: 0 0.5rem, @align: center);
    .dark-content();
    flex: 0;

    padding: 0.5rem;
}

.usageContainer {
    .dark-content();

    min-height: 0;
    max-height: 100%;
    padding: 0.5rem;
}

.usage {
    .light-content();
    overflow: auto;

    min-height: 0;
    max-height: 100%;
    padding: 0.5rem;

    border: 1px solid black;

    img {
        max-width: 100%;
        height: auto;
        width: auto;
    }

    ul,
    ol {
        margin: 0;
    }

    li {
        margin: 0.5rem 0;
    }
}