@import '../colors.less';

.config {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid @color-fg-border;
    border-top: unset;
    max-height: 100%;

    .configHeader {
        flex: 0;
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid @color-fg-border;
        padding: 0.5em;

        label {
            color: white;
            padding-right: 0.5em;
        }
    }

    >.usage {
        max-height: 100%;
        overflow: auto;
        margin: 0.5em;
        padding: 0.5em;
        border: 1px solid black;
        background-color: @color-bg-table;

        img {
            max-width: 100%;
            height: auto;
            width: auto;
        }

        li {
            margin: 0.5em 0;
        }
    }
}