@import '../../colors.less';

.fetchStatus {
    flex: 1 1 content;
    white-space: nowrap;
    min-width: 10em;

    >div {
        width: 100%;
        display: flex;

        >div:first-of-type {
            border-left: 1px solid black;
        }

        >div:last-of-type {
            border-right: 1px solid black;
        }
    }
}

.fetchRequest {
    flex: 1;
    border-block: 1px solid black;
    max-width: 1em;
    height: 1em;
}

.active {
    background-color: yellow;
}

.warn {
    background-color: orange;
}

.finishedGood {
    background-color: green;
}

.finishedBad {
    background-color: red;
}

.queued {
    background-color: grey;
}